click==6.6
colorama==0.2.5
Flask==0.11
html5lib==0.999
httplib2==0.8
itsdangerous==0.24
Jinja2==2.8
lockfile==0.8
MarkupSafe==0.23
oauthlib==0.6.1
piston-mini-client==0.7.5
pycrypto==2.6.1
Pygments==1.6
pyxdg==0.25
reportlab==3.0
requests==2.2.1
six==1.5.2
urllib3==1.7.1
virtualenv==1.11.4
Werkzeug==0.11.10
zope.interface==4.0.5
